
.wrapper {
	max-width: 1500px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
 	 grid-gap: 10px;
  	grid-auto-rows: minmax(100px, auto);
  
}

.one {
  grid-column: 6 / 30;
  grid-row: 1;
}
.two { 
  grid-column: 8 / 14;
  grid-row: 1 ;
}
.three {
  grid-column: 6 / 14;
  grid-row: 2;
}
.four {
  grid-column: 2;
  grid-row: 2;
}
.five {
  grid-column: 2;
  grid-row: 2;
}
.six {
  grid-column: 3;
  grid-row: 3;
}

.heartwrap  {
    display: table;
} 
.fa-apple{

    content: '';
    font-size: 30px;
    color: red;
    
}
button{
	background: grey;
}

i {
    color : red;
}
/*.heartwrap:checked > button i*/ 

.heartwrap:hover > button {
    animation: 1500ms ease 0s normal none 1 running pulse;
}
@keyframes pulse {
0% {
    transform: scaleX(1) scaleY(1);
}
10% {
    transform: scaleX(0.85) scaleY(0.85);
}
20% {
    transform: scaleX(1) scaleY(1);
}
30% {
    transform: scaleX(0.85) scaleY(0.85);
}
40% {
    transform: scaleX(1) scaleY(1);
}
50% {
    transform: scaleX(0.85) scaleY(0.85);
}
60% {
    transform: scaleX(1) scaleY(1);
}
70% {
    transform: scaleX(0.85) scaleY(0.85);
}
80% {
    transform: scaleX(1) scaleY(1);
}
90% {
    transform: scaleX(0.85) scaleY(0.85);
}
100% {
    transform: scaleX(1) scaleY(1);
}
}